extends layout

block main-content
  div.contentbox
    h1.page-title Who we are
    p#abouttext Our Boutique Exquisiteify has been ruling over Toronto's heart for five years now.We have now expanded our business and opened new stores in Brampton and Mississauga as well.We provide quality products keeping the latest trends in mind at reasonable prices.
    a#learn(href="#") Learn more