block variables
doctype html
html
  head
    meta(charset="utf-8")
    title #{title} | My Boutique
    link(rel="stylesheet" , type="text/css", href="/style.css")
    script(src="https://kit.fontawesome.com/b87bf07b8e.js", crossorigin="anonymous")
    script(src="/js/layout.js")
  body
    header#header.content-wrapper
      div.header-content
        div#heading
          //-https://www.cleanpng.com/
          img#logo(src="/img/logo.png", alt="Boutique logo")
          h2#site-name
            a(href="/") Exquisiteify
        nav#main-navigation
          button#menu-btn.menu-toggle(aria-label="Togglemenu")
            i.fa-solid.fa-bars
          #log-hidden
              a(href="/")
                img(src="/img/profile.png", alt="Log In")
          ul
            li 
              a(href="/") Home
            li 
              a(href="/NewArrivals") New Arrivals
            li 
              a(href="/Sale") Sale
            li
              a(href="/About") About Us
            #log
              a(href="/") 
                img(src="/img/profile.png", alt="Log In")
    main#main.content-wrapper
      block main-content
    footer#footer.content-wrapper
      div.footerfields
        div#apps
          a(href="#", aria-label="Twitter")
            i.fa-brands.fa-twitter
          a(href="#", aria-label="Instagram")
            i.fa-brands.fa-instagram
          a(href="#", aria-label="Mail")
            i.fa-sharp.fa-solid.fa-envelope
        form#main-form(action="#", method="post")
          label(for="mail") Join our mailing list for updates
          input#mail(type="email", placeholder="janedoe@gmail.com")
          input#signup(type="submit", value="Sign up")
      p &copy; Copyright HTTP 5211, 2023.